*{
  margin: 0px;
}
.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #282c34;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}